
<header class="sign-in">
  <div class="logo-image"></div>
  <h1>Create Account</h1>
</header>

<div class="sign-in">
  <form  action="<%= users_url %>" method="post">
    <%= auth_token %>

    <label>Username or Email:
      <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>

    <label>Create a Password:
      <input type="password" name="user[password]">
      <ul>
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <li><%= error + "." %></li>
          <% end %>
        <% end %>
      </ul>
    </label>

    <button type="submit">Create Account</button>

  </form>
</div>

<footer class="sign-in">
  <span>Already have an account?</span>
  <a href="<%= new_session_url %>">Sign in</a>
</footer>
